# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
.vitepress/dist
.vitepress/cache
dist/

# Local env files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Temp files
*.tmp
.temp/
.cache/
